<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.GData.AccessControl" version="2.2.0.0" targetFramework="net20" />
  <package id="Google.GData.Client" version="2.2.0.0" targetFramework="net20" />
  <package id="Google.GData.Documents" version="2.2.0.0" targetFramework="net20" />
  <package id="Google.GData.Extensions" version="2.2.0.0" targetFramework="net20" />
  <package id="Google.GData.Spreadsheets" version="2.2.0.0" targetFramework="net20" />
  <package id="Newtonsoft.Json" version="4.0.5" targetFramework="net20" />
</packages>